.btn{
    display: inline-block;
    width:110px;
    line-height: 30px;
    text-align: center;
    background-color: #FF6600;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
  }
  .btn-default{
    display: inline-block;
    width:110px;
    line-height: 30px;
    text-align: center;
    background-color: #B0B0B0;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
  }
  .btn-large{
    display: inline-block;
    width:202px;
    height: 50px;
    line-height: 50px;
    font-size:18px;
    text-align: center;
    background-color: #FF6600;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
  }
  .btn-huge{
    display: inline-block;
    width:300px;
    height: 54px;
    line-height: 54px;
    font-size:16px;
    text-align: center;
    background-color: #FF6600;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
  }
  .btn-group{
    .btn{
      margin-right:20px;
      &:last-child{
        margin-right:0;
      }
    }
  }