.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    .mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.8;
    }
    .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 660px;
        height: auto;
        background-color: #FFFFFF;
        transform: translate(-50%,-50%);
        .modal-header{
            height: 60px;
            background-color: #F5F5F5;
            padding: 0 25px;
            line-height: 60px;
            font-size: 16px;
            .icon-close{
                position: absolute;
                top: 23px;
                right: 25px;
                width: 16px;
                height: 14px;
                background: url("/imgs/icon-close.png") no-repeat center;
                background-size: 16px 14px;
                transition:transform 0.3s;
                &:hover{
                    transform:scale(1.5);
                }
            }
        }
        .modal-body{
            padding: 42px 40px 54px;
            font-size: 14px;
        }
        .modal-footer{
            height: 82px;
            line-height: 82px;
            text-align: center;
            background-color: #F5F5F5;
        }
    }
}